/*ZEROING*/
body,html{
  margin: 0;
  padding: 0;
  font-family:'DM Sans', sans-serif;
  color: #fff;
  word-wrap: break-word;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  border: 0;
}
img{
  vertical-align:left;
}

body{
  background-color: #171718;
}

/*FONTS*/
.blue_color{
  color: #1aa4b6;
}
h1{
  font-size:clamp(22px,4.9vw,50px);
  font-weight: 600;
  text-align:center;
}
h3{
    font-size: clamp(15px,2.2vw,28px);
    margin: 0;
    text-align: left;
    margin-bottom: 3%;
}
h2{
  font-size: clamp(18px,3.2vw,34px);
  margin: 0;
  text-align: left;
}
p{
  margin: 20px auto;
  font-size:clamp(16px,1.6vw,26px);
  text-indent: clamp(12px,1.2vw,22px);
}
.p1{
  margin: auto;
  text-align:center;
  font-size:clamp(14px,2.2vw,26px);
}
.p2{
  margin: 0;
  text-align:left;
  font-size:clamp(14px,1.4vw,20px);
  text-indent: 0;
}

.special-font-family{
    font-weight: 600;
}



/*HEADER*/
header a{
  color: #fff;
}
header a:link {
  color: #fff;
  text-decoration: none;
}
header a:focus {
  border-bottom: 2.5px solid #1aa4b6;
  border-radius: 2px;
}
header a:hover {
  border-bottom: 2.5px solid #1aa4b6;
  border-radius: 2px;
}

header{
  width: 80%;

  min-height: 40px;
  padding: 0 10%;

  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #171718;
  
  color: #fff;
  font-weight: 600;
  font-size: clamp(14px, 1.5vw, 20px);

  border-bottom-style:solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgba(82, 79, 79, 0.486);
}
header ul{
  list-style: none;

  justify-content:space-between;
  display: flex;
  flex-wrap: wrap;
}
header li{
  margin:5px 1.5vw ;
  justify-content:space-between;
}
header span{
  font-size: clamp(18px, 2.5vw, 25px);
  margin: 5px;
}
/*MAIN*/
main{
  margin: 30px auto;
}
section{
  margin: 40px auto;
}

/*SECTION 1*/
.section1{
  width: 60%;
}


/*SECTION 2  */
.section2{
  padding: 15px;
  width: 60%;
  min-height: 345px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  border-radius: 7px;
  background-color: #26292D; 
}
.block_text{
  max-width: 450px;
  width: 96%;
  margin: 2%;
  margin-top: 5px;
}
.containerz img{
  margin: 1%;
  width: 98%;
  border-radius: 7px;

  max-height: 345px;
  
  object-fit: cover;
}
.to_autor{
  display:inline-block;
  color:#fff ;
  padding: 5px;

  border: 1px solid #fff;
  border-radius: 6px;
  margin: 7px 0px;
}
.to_autor:hover{
  color:#1aa4b6;
  border-color: #1aa4b6;
}

/*SECTION 3*/
.section3{
  display: flex;
  flex-wrap: wrap;
  background-color: #1e8694;
  text-align:center;

  font-size:clamp(22px,3.3vw,40px);
  font-weight: 600;
  color: #fff;

  justify-content: space-around;
  padding: 5px 10px;
}
.reit{
  margin: 2px 10px;
  width: clamp(90px,14vw,300px);
}

.reit div{
  font-size:clamp(14px,1.3vw,50px);
  color: #171718;
}

/*SECTION 4*/
.section4{
  width: 80%;
}

/*FOOTER*/
