/*ZEROING*/
body,html{
   margin: 0;
   padding: 0;
   font-family:'DM Sans', sans-serif;
   color: #fff;
   word-wrap: break-word;
 }
 *,
 *::before,
 *::after{
   margin: 0;
   padding: 0;
   border: 0;
 }
 img{
   vertical-align:left;
 }
 
 body{
   background-color: #171718;
 }

 /*FONTS*/

.blue_color{
  color: #1aa4b6;
}


h3{
    font-size: clamp(18px,2.2vw,28px);
    margin: 0;
    text-align: left;
}
h2{
  font-size: clamp(20px,3.2vw,34px);
  margin: 0;
  text-align: center;
}
p{
  margin: 20px auto;
  font-size:clamp(16px,1.6vw,26px);
  text-indent: clamp(12px,1.2vw,22px);
}
/*HEADER*/
header li a{
  color: #fff;
}
header li a:link {
  color: #fff;
  text-decoration: none;
}
header li a:focus {
  border: 2px solid #1aa4b6;
  border-radius: 2px;
}
header li a:hover {
  border-bottom: 2.5px solid #1aa4b6;
  border-radius: 2px;
}

header span a{
  color: #1aa4b6;
}
header span a:link {
  color: #1aa4b6;
  text-decoration: none;
}
header span a:focus {
  color: #fff;
}
header span a:hover {
  color: #fff;
}

header{
  width: 80%;

  
  min-height: 40px;
  padding: 0 10%;

  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #171718;
  
  color: #fff;
  font-weight: 600;
  font-size: clamp(14px, 1.5vw, 20px);

  border-bottom-style:solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgba(82, 79, 79, 0.486);
}
header ul{
  list-style: none;

  justify-content:space-between;
  display: flex;
  flex-wrap: wrap;
}
header li{
  margin:5px 1.5vw ;
}
header span{
  font-size: clamp(18px, 2.5vw, 25px);
  margin: 5px;
}
/*MAIN*/
main{
 /* background: ;
  border-radius: 7px;*/
  margin: 30px auto;
}

section{
  width: 80%;
  margin: 0 auto;
}
/*SECTION 1*/

.section1 h2{
  margin: 20px auto;
}