html, body{
    padding: 0;
    margin:0;
    font-size: px;
    background-color: #262627;
    color: #fff;
    word-wrap: break-word;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  border: 0;
}
.ob{
    width: 70%;
    margin:0 auto;
    padding:0 0 1.5vw 0;
}

 /*FONTS*/
h1{
    font-size: clamp(16px,3.5vw,45px);
    font-family:'Comfortaa', cursive;
    font-weight: 600;
    padding: 1.4vw;
}
h2{
    font-family:'Roboto', sans-serif;
    font-weight: 2000;
    font-size: clamp(15px,3.3vw,30px);
}
.main-text{
    font-family:'Roboto', sans-serif;
    font-size: clamp(13px,2.2vw,25px);
    font-weight: 600;
}
.special-font-family{
    font-family:'Comfortaa', cursive;
    font-weight: 600;
}
.text-shadow{
    text-shadow:0.5vw 1.2vw 10px #312e2e;
}

/*HEADER*/
.header{
    /*background-image:url(img/background.jpg);*/
    background-color: #171718;
    background-size: cover;
    color: #ffffff;

    padding: 1vw 0 0 0 ;
}

.list{
    list-style: none;
    padding: 0.5vw 0 1vw 0 ;
    margin: 0;

    display: flex;
    justify-content: space-between;
    /*расположение пунктов по ширине (с прижатием к краям)*/
    align-items: center;/* пункты (по центру относительно) друг друга*/
}
.list li{
    display: inline;
    font-size: clamp(8.6px,2.1vw,25px)
}
.li1{
    margin: 0.5vw;
}
.li2{
    margin-left: 0.6vw;
}

#name{
    margin-left: 0;
    margin-right: 0.6vw;
    letter-spacing: 0.1vw;
    font-weight: 1000;
    font-size: clamp(10px,3vw,30px);
    color: #1aa4b6;
}


.header a:link{
    color: #ffffff;
    text-decoration: none;
}/*состояние непосещённой ссылки */
.header a:visited{
    color: #ffffff;
    text-decoration: none;
}/*уже посещённая*/
.header a:hover{
    color: #1aa4b6;
    text-decoration:none;
    padding-bottom: 2px;
}/*состояние ссылки при наведении мышкой*/
.header a:active{
    color: #1aa4b6;
    text-decoration:none;
    padding-bottom: 2px;
}/*при зажатии мышки*/
/*редактировать состояния ссылок необходимо именно в такой последовательности*/


.photo{
    position: relative;
    background-size: cover;
}

/*SLAYDER*/
.container1 {
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}


.zhopa,
.zhopa::before,
.zhopa::after {
  box-sizing: border-box;
}
.slider__wrapper {
    overflow: hidden;
  }

.slider__item {
    height: 50vw;
    max-height: 500px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
  }
/*
.slider__item:nth-child(1) {

  }

.slider__item:nth-child(2) {

  }
*/
.slider__control{
    height: 100%;

}
.slider__control:any-link{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.slider__control:hover{
  background-color: rgba(0, 0, 0, 0.29);
  height: 100%;
}

.button{
  margin: 5% 20%;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.button a:link{
  color: #ffffff;
  text-decoration: none;
}
.button a:hover{
  color: #282471;
  text-decoration: none;
}
.button a:active{
  color: #282471;
  text-decoration: none;
}
.button a:visited{
  color: aliceblue;
  text-decoration: none;
}

.button0:link{
  background: linear-gradient(211.87deg, rgb(48, 24, 49) 1%, rgba(96, 20, 91, 0.72) 120%);
  text-decoration: none;

}
.button0:hover{
  background: #ffffff;
  color:#0e240e ;
  text-decoration: none;

}
.button0:active{
  background: #ffffff;
  color: #282471;
  text-decoration: none;
}
.button0:visited{
  background: linear-gradient(211.87deg, rgb(48, 24, 49) 1%, rgba(96, 20, 91, 0.72) 120%);
  text-decoration: none;
}

.button1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(211.87deg, rgb(111, 71, 113) 1%, rgba(96, 20, 91, 0.72) 120%);

  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;


}
.button2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(211.87deg, rgb(111, 71, 113) 1%, rgba(96, 20, 91, 0.72) 120%);
  position:relative;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
}
/**/

/*MAIN*/
main *{
    margin: 0 0 1.5vw 0;
}
.about_me{
    margin-top: 1.5vw;
}
.tick{
    width:clamp(16px,3.5vw,45px);
    margin-right: 1vw;
}
.item-and-tick{
     display: flex;
     align-items: center;
}


.uvlimg{
    width:clamp(16px,20vw,1000px);

    border-radius: 50%;
    border-color: rgba(255, 0, 246, 0.68);
}
.img123{
    display: flex;
    justify-content:space-between;
}


.cit{
    background: #1aa4b6 ;
    font-size: clamp(13px,3vw,25px);
    color: #fff;
    padding: 1.5vw 0px 1.5vw 0px;
    margin: 0 0 1.5vw 0;
}

.quote{
    padding: 1vw 0px 0px 0px;
}
.autor{
    text-align: end;
    padding-top: 0;
    padding: 0.5vw 0 1vw 0;
}


form{
    font-size: 2.3vw;
    font-family:'Comfortaa', cursive;
}
input[type=text]{
    border-style:ridge;
    border-color: rgba(19, 10, 25, 0.85);
    border-width: 0.3vw;
    border-radius: 10px;
    background:#d8ccde;
    padding: 5px;
    outline: none;
    width: 81%;
    height: 3vw;

    font-size: 2.2vw;
    font-family:inherit;
}
input[type=text]:focus{
    background:#fff;
}
input[type=email]{
    border-style:ridge;
    border-color: rgba(19, 10, 25, 0.85);
    border-width: 0.3vw;
    border-radius: 10px;
    background:#d8ccde;
    padding: 5px;
    outline: none;
    width: 81%;
    height: 3vw;

    font-size: 2.2vw;
    font-family:inherit;
}
input[type=email]:focus{
    background:#ffffff;

}
textarea{
    resize: none;
    width: 80%;
    height: 6em;
    border-style:ridge;
    border-color: rgba(19, 10, 25, 0.85);
    border-width:0.3vw;
    border-radius: 10px;
    background:#d8ccde;
    padding: 12px;
    outline: none;

    font-size: 2.2vw;
    font-family:inherit;
}
textarea:focus{
    background:#fff;
    height: 12em;
}
input[type=submit]{
    border-style:ridge;
    border-color: rgba(19, 10, 25, 0.85);
    border-width: 0.3vw;
    border-radius: 10px;
    background:#d8ccde;

    font-size: 2.1vw;
    font-family:inherit;
}
input[type=reset]{
    border-style:ridge;
    border-color: rgba(19, 10, 25, 0.85);
    border-width: 0.3vw;
    border-radius: 10px;
    background:#d8ccde;

    font-size: 2.1vw;
    font-family:inherit;
}

/*BUTTON-UP*/
#gotop{
    background: #1aa4b6;
    width: 5vw;;
    height: 5vw;
    border-radius: 5px;
    line-height: 5vw;
    text-align: center;
    font-size: 3.8vw;

    position: fixed;
    right: 5%;
    bottom: 3vw;

}
#gotop a:link{
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}
#gotop a:visited{
    color: #ffffff;
    text-decoration: none;
}
#gotop a:hover{
    color: #171718;
    text-decoration:underline;
    padding-bottom: 2px;
    text-decoration: none;
}
#gotop a:active{
    color: #171718;
    text-decoration:underline;
    padding-bottom: 2px;
    text-decoration: none;
}

/*FOOTER*/
footer{
    padding: 1.5vw 0 0 0;
    background: #171718;
    color: #9ea4b1;
    font-size: clamp(13px, 1.8vw, 25px);
}
.footertable{
    width: 100%;
    white-space: nowrap;
    display: inline-flex;
    justify-content: space-between;
}
.footertable h3{
    margin: 0 1 vw 1vw 0;
}
.footertable p{
    margin: 0 1 vw 1vw 0;
}
.fl{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding-right:3vw;
}
 
.footertable a:link{
    color: #ffffff;
    text-decoration: none;
}/*состояние непосещённой ссылки */
.footertable  a:visited{
    color: #ffffff;
    text-decoration: none;
}/*уже посещённая*/
.footertable  a:hover{
    color:#1aa4b6;
    text-decoration:underline;
    padding-bottom: 2px;
}/*состояние ссылки при наведении мышкой*/
.footertable  a:active{
    color: #1aa4b6;
    text-decoration:underline;
    padding-bottom: 2px;
}

.ikon{
    width: clamp(13px,7vw, 80px);
}

